<section class="about _pt70 _pb70" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title-section-1">O <span>Escritório</span></h2>
                <p class="text-about text-justify">
                        Desde a sua fundação, escritório Contábil Agnaldo Mendes visa fornecer soluções diversificadas a seus clientes nas áreas de Contabilidade e Consultoria. Contando com ampla experiência de 30 anos e qualificação de nosso time.

                        Nossa essência se caracteriza por dedicação ao trabalho ótimo relacionamento com os clientes, inovação na metodologia de resultados e busca oferecer o que há de melhor e inovador no mercado. Por consequência, apresenta-se atualmente, como uma das melhores opções para quem busca realizar uma gestão contábil profissional e de qualidade.
                </p>
            </div>

            <div class="col-lg-6">
                <div class="owl-carousel owl-theme owl-office">
                    <div class="item">
                        <img src="images/carousel.jpg" class="img-fluid img-office" alt="">
                    </div>

                    <div class="item">
                        <img src="images/carousel.jpg" class="img-fluid img-office" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>