<section class="about _pt70 _pb70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title-section-1">O <span>Escritório</span></h2>
                <p class="text-about text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum lectus sit amet semper pretium. Fusce et justo orci. Sed eu placerat purus. Vivamus blandit diam nisl, sit amet elementum dolor consectetur at. Praesent semper finibus molestie. Vestibulum finibus venenatis sollicitudin. Nunc ac finibus sem, at malesuada diam. Nullam a lorem augue. Praesent vulputate augue non quam tincidunt, sit amet condimentum erat imperdiet.
                </p>
            </div>

            <div class="col-lg-6">
                <div class="owl-carousel owl-theme owl-office">
                    <div class="item">
                        <img src="images/carousel.jpg" class="img-fluid img-office" alt="">
                    </div>

                    <div class="item">
                        <img src="images/carousel.jpg" class="img-fluid img-office" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>