<section class="services _pt70 _pb70" id="services">
    <div class="container">
        <h2 class="title-section-1 text-center _pb15">
            Nossos <span>Serviços</span>
        </h2>
        
        <div class="row">
            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-line-chart icon-service _pb15"></i>
                    <h4 class="title-service text-center">Contabilidade</h4>
                    <p class="subtitle-service text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis massa nibh. Praesent volutpat enim eget maximus blandit. Etiam tempus felis sollicitudin, pretium sapien in, aliquet dui.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-users icon-service _pb15"></i>
                    <h4 class="title-service text-center">Departamento Pessoal</h4>
                    <p class="subtitle-service text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis massa nibh. Praesent volutpat enim eget maximus blandit. Etiam tempus felis sollicitudin, pretium sapien in, aliquet dui.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-calculator icon-service _pb15"></i>
                    <h4 class="title-service text-center">Fiscal</h4>
                    <p class="subtitle-service text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis massa nibh. Praesent volutpat enim eget maximus blandit. Etiam tempus felis sollicitudin, pretium sapien in, aliquet dui.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>