<section class="services _pt70 _pb70" id="services">
    <div class="container">
        <h2 class="title-section-1 text-center _pb15">
            Nossos <span>Serviços</span>
        </h2>
        
        <div class="row">
            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-line-chart icon-service _pb15"></i>
                    <h4 class="title-service text-center">Contabilidade</h4>
                    <p class="subtitle-service text-center">
                            A divisão de contabilidade tem como prioridade o atendimento personalizado e entrega das soluções contratadas dentro do prazo, em consonância com as normas internacionais contábeis, em linha com as diretrizes dos órgãos reguladores nacionais.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-users icon-service _pb15"></i>
                    <h4 class="title-service text-center">Departamento Pessoal</h4>
                    <p class="subtitle-service text-center">
                            Além de contar com um time especializado na área previdenciária, contamos também com um software voltado para gestão da folha de pagamento e dos holerites. Além de explorar diversos relatórios.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 _pt30">
                <div class="card-service">
                    <i class="fa fa-calculator icon-service _pb15"></i>
                    <h4 class="title-service text-center">Fiscal</h4>
                    <p class="subtitle-service text-center">
                            Em um sistema tributário altamente complexo e dinâmico como o do Brasil, se faz necessário uma equipe especializada para atender por completo, as exigências do fisco. Temos o know how necessário te ajudar.
                    </p>
                    <a href="#" class="btn btn-services">
                        Saiba Mais
                        <i class="fa fa-long-arrow-right icon-btn-services _pl5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>