<footer class="main-footer _pt70 _pb70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-footer">
                    <h6 class="title-footer">O Escritório</h6>
                    <div class="separator _mb10"></div>

                    <a href="#" class="footer-link">
                        História
                    </a>
                    <a href="#" class="footer-link">
                        Fotos
                    </a>
                </div>

                <div class="col-lg-3 col-footer">
                    <h6 class="title-footer">Serviços</h6>
                    <div class="separator _mb10"></div>

                    <a href="#" class="footer-link">
                        Contabilidade
                    </a>
                    <a href="#" class="footer-link">
                        Departamento Pessoal
                    </a>
                    <a href="#" class="footer-link">
                        Fiscal
                    </a>
                </div>

                <div class="col-lg-3 col-footer">
                    <h6 class="title-footer">Contato</h6>
                    <div class="separator _mb10"></div>

                    <a href="#" class="footer-link">
                        Como chegar?
                    </a>
                    <a href="#" class="footer-link">
                        Enviar e-mail
                    </a>
                </div>

                <div class="col-lg-3">
                    <p class="info-footer">
                        Rua Marechal Deodoro, 1148 <br/>
                        Taquaritinga - SP | Brasil <br/>
                        (16) 3253-2696
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/vendors/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/masks.js"></script>
    <script src="/js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152539695-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-152539695-1');
    </script>
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "Corporation",
            "name": "Contábil Agnaldo Mendes",
            "url": "http://contabilagnaldomendes.com.br/",
            "description": "Contábil Agnaldo Mendes - Escritório de contabilidade para a sua empresa. Conheça nossos serviços ou abra a sua empresa!",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Rua Marechal Deodoro, 1148",
                "addressLocality": "Taquaritinga",
                "addressRegion": "SP",
                "postalCode": "15900019",
                "addressCountry": "Brasil"
            },
            "hasMap": "https://goo.gl/maps/Zq9EGD8K3FKRc4sy6",
            "openingHours": "Mo 08:00-17:00 Tu 08:00-17:00 We 08:00-17:00 Th 08:00-17:00 Fr 08:00-17:00"
        }
    </script>
  </body>
</html>