@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

/* Títulos */
.title-carousel {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #f3f3f3;
}

.title-service {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #008c74;
}

.title-news {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5em;
  color: #008c74;
}

.title-footer {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.2em;
  color: #f3f3f3;
}

.title-section-1 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 2.7em;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #333333;
}

.title-section-1 > span {
  color: #008c74;
}

@media (min-width: 992px) {
  .title-section-1 > span {
    display: block;
  }
}

/* Subtitulos */
.subtitle-carousel {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.2em;
  color: #f3f3f3;
}

.subtitle-service {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9em;
  color: #333333;
}

.subtitle-news {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9em;
  color: #333333;
}

/* Menu */
.navbar-desk {
  display: none;
}

.nav-desk li a {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-desk li a:hover {
  font-weight: 600;
}

.navbar-desk-on-scroll {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
          box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
}

.navbar-desk-on-scroll ul li a {
  font-size: 0.9em !important;
  color: #008c74 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 992px) {
  .navbar-desk {
    display: block;
  }
}

.navbar-mobile {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
          box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
  display: none;
}

.nav-mobile li a {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #008c74 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-mobile li a:hover {
  font-weight: 500;
}

@media (max-width: 991px) {
  .navbar-mobile {
    display: block;
  }
}

/* Carousel */
.carousel-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

.carousel-image .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 140, 116, 0.75)), to(rgba(0, 76, 102, 0.9)));
  background: linear-gradient(to right, rgba(0, 140, 116, 0.75) 0%, rgba(0, 76, 102, 0.9) 100%);
}

.carousel-content {
  position: relative;
  z-index: 10;
}

.btn-carousel {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.85em;
  text-transform: uppercase;
  color: #f3f3f3;
  border: 2px solid #f3f3f3;
}

.btn-carousel:hover,
.btn-carousel:focus {
  padding: 15px 30px;
  color: #008c74;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.owl-home .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.owl-home .owl-dots .owl-dot.active span {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 18px !important;
}

.owl-home .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 1px solid #fff !important;
}

/* Sobre */
.text-about {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9;
  color: #333333;
}

.owl-office .owl-item img {
  -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
          box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.4);
}

.owl-office .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 2px solid #008c74;
}

.owl-office .owl-dots .owl-dot.active span {
  background-color: #008c74 !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 18px !important;
}

@media (max-width: 991px) {
  .text-about {
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .text-about {
    padding-right: 20px;
  }
}

/* Serviços */
.services {
  background-color: #f9fbfd;
  -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
          box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
}

.card-service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-service {
  font-size: 4em;
  text-align: center !important;
  color: #333333;
}

.btn-services {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.80em;
  text-transform: uppercase;
  color: #008c74;
  margin-top: -4px;
}

.icon-btn-services {
  visibility: hidden;
  opacity: 0;
  color: #008c74;
}

.btn-services:hover .icon-btn-services,
.btn-services:focus .icon-btn-services {
  visibility: visible;
  opacity: 100;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* Lead */
.lead {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.lead .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 140, 116, 0.75)), to(rgba(0, 76, 102, 0.9)));
  background: linear-gradient(to right, rgba(0, 140, 116, 0.75) 0%, rgba(0, 76, 102, 0.9) 100%);
  z-index: 1;
}

.lead-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
  width: 100%;
}

.text-lead {
  font-family: "Poppins";
  font-weight: 500;
  color: #f3f3f3;
}

.btn-lead {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.65em;
  text-transform: uppercase;
  color: #f3f3f3;
  border: 2px solid #f3f3f3;
}

.btn-lead:hover,
.btn-lead:focus {
  color: #008c74;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 991px) {
  .lead-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-lead {
    margin-top: 10px;
  }
}

/* Contato */
.input-contact {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  color: #008c74;
  border: 2.3px solid #008c74;
}

.input-contact::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  color: #008c74;
}

.input-contact:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  color: #008c74;
}

.input-contact::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  color: #008c74;
}

.input-contact::placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  color: #008c74;
}

.input-contact:hover,
.input-contact:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #008c74;
}

.input-contact:focus {
  border-color: #333333;
}

.btn-contact {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f3f3f3;
  background-color: #008c74;
  width: 100%;
}

.btn-contact:hover,
.btn-contact:focus {
  color: #008c74;
  background-color: transparent;
  border: 2px solid #008c74;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.map-contact > iframe {
  border: 3px solid #008c74;
}

.text-information {
  font-family: "Poppins";
  font-size: 1em;
  color: #333333;
}

.text-information > span {
  font-weight: 600;
  color: #008c74;
}

.text-information:hover,
.text-information:focus {
  color: #008c74;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.text-information .icon-information {
  font-size: 1.5em;
}

/* Notícias */
.news {
  background-color: #f9fbfd;
  -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
          box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
}

.news-link figure {
  height: 240px;
  z-index: 12;
  overflow: hidden;
  position: relative;
}

.news-link img {
  opacity: 1;
  z-index: 8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-link figure .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 140, 116, 0.75)), to(rgba(0, 76, 102, 0.9)));
  background: linear-gradient(to right, rgba(0, 140, 116, 0.75) 0%, rgba(0, 76, 102, 0.9) 100%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.news-link figure .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -21px;
  font-size: 3em;
  color: #f3f3f3;
  z-index: 12;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-link:hover img,
.news-link:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news-link:hover figure .overlay,
.news-link:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}

.owl-news .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 2px solid #008c74;
}

.owl-news .owl-dots .owl-dot.active span {
  background-color: #008c74 !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 18px !important;
}

/* Rodapé */
.main-footer {
  background-color: #008c74;
}

.main-footer .separator {
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}

.footer-link {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #cccccc;
  display: block;
}

.footer-link:hover,
.footer-link:focus {
  color: #f9fbfd;
}

.info-footer {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 0.9em;
  text-align: right;
  color: #f3f3f3;
}

@media (max-width: 991px) {
  .col-footer {
    margin-top: 30px;
  }
  .col-footer:first-child {
    margin-top: 0;
  }
  .info-footer {
    margin-top: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */